/*下载于 https://github.com/Hgnim/libre-tool-hub/blob/85d86d48d303acea646ca2619e31cb44f6b06c5c/src/assets/css/global/unSelect.css */

.unSelectable {
    -moz-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;

    -webkit-user-drag: none !important;
    -khtml-user-drag: none !important;
    -o-user-drag: none !important;
    -moz-user-drag: none !important;
    -ms-user-drag: none !important;
    user-drag: none !important;
}

.unset_unSelectable {
    -moz-user-select: initial !important;
    -khtml-user-select: initial !important;
    -webkit-user-select: initial !important;
    -o-user-select: initial !important;
    user-select: initial !important;

    -webkit-user-drag: initial !important;
    -khtml-user-drag: initial !important;
    -o-user-drag: initial !important;
    -moz-user-drag: initial !important;
    -ms-user-drag: initial !important;
    user-drag: initial !important;
}