section{
  position: relative;
  width: 100%;
}

$home-backimg-filter: blur(2px);
#home{
  height: 100vh;
  #backimg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: $home-backimg-filter;
    img{
      object-fit: cover;
      height: 100%;
    }
  }
  #home_title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);//auto auto
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "g0 g0 g0"
    ". . g1";
    .home_title_text{
      font-family: "mzd-font", system-ui;
      z-index: 1;
      text-align: center;
    }
    #home_title_text1{
      grid-area: g0;
      font-size: calc(3rem + 2vw);
    }
    #home_title_text2{
      grid-area: g1;
      font-size: calc(1.5rem + 1.5vw);
    }
  }
  #start-btn{
    background: var(--start-btn-bg);
    font-size: 1.5rem;
    border-radius: 18px;
  }
  #mc-status{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--mc-status-bg);
    padding: .5rem;
    border-radius: 10px;
    z-index: 1;
  }
  #broadcast-container{
    z-index: 1;
    position: absolute;
    top:var(--navbar-normal_offsetHeight);
  }
}
[data-theme-type=system][data-bs-theme=dark] #home,
[data-theme-type=manual][data-bs-theme=dark] #home{
  #backimg {
    filter: $home-backimg-filter brightness(0.5);
  }
}

#version{
  .version_text-div{
    line-height: 0.8rem;
    margin-bottom: .5rem;
    p{
      font-size: 1.1rem;
    }
  }
  .version_row{
    display: flex;
    align-items: center;
  }
  #version_java-row{
    #version_java-row_text-div{
      margin-bottom: .3rem;
    }
  }
  #version_bedrock-row{
    #version_bedrock-row_text-div{
      margin-top: .3rem;
    }
  }
}

#feature{
}

#rule{
  #rule-text{
    height: 50vh;
    overflow-y: scroll;
  }
}

#join-us{
  .qrcode-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    transition: opacity .5s;
    opacity: 0;
    text-decoration:none;
    span{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .qrcode-link:hover{
    opacity: 1;
    cursor: pointer;
  }

  .joinUs-qrcode-card{
    border-radius: 15px;
  }
}

img{
  &.can-click{
    cursor: pointer;
  }
}