.card_img-box{
  overflow: hidden;
}
.card-body_img-box{
  padding: 0;
}

.img-box{
  //引用与修改于 https://github.com/Hgnim/perweb/blob/3585b10ecf343e245f6eb977aa9a575bcd28afa6/src/views/Home/scss/imgLoader.scss
  width: 100%;
  min-width: 100px;
  min-height: 100px;
  &.loaded {
    min-width: unset;
    min-height: unset;
  }

  img{
    width: 100%;
  }

  .loader-animation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    height: 100%;
    pointer-events: none;//不影响鼠标事件
  }

  & .loader-animation {
    $transform-had: translate(-50%,-50%);
    @keyframes spin {
      0% {
        transform: $transform-had rotate(0deg);
      }

      100% {
        transform: $transform-had rotate(360deg);
      }
    }
    width: 100px;
    height: 100px;
    border: 8px solid var(--bs-border-color);
    border-top-color: var(--bs-body-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    visibility: visible;
  }

  //加载完成
  &.loaded .loader-animation {
    display: none;
  }

  //加载失败
  &.error .loader-animation {
    animation: none;
    border: 8px solid darkred;
    background-image://利用渐变特性绘制叉叉
            linear-gradient(45deg, transparent 47%, darkred 47%, darkred 53%, transparent 53%),
            linear-gradient(-45deg, transparent 47%, darkred 47%, darkred 53%, transparent 53%);
    background-position: center;
    background-repeat: no-repeat;

    /*content: "图像加载失败";
    text-indent: -28px;
    white-space: nowrap;
    line-height: 0;*/
  }
}