.navbar{
  --bs-bg-opacity: 0.8;
  --navbar-bg-rgb: var(--bs-tertiary-bg-rgb);
  background-color: rgba(var(--navbar-bg-rgb), var(--bs-bg-opacity));

  padding: .2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(4px);
  max-height: 100vh;

  #navbarCollapseContent{
    &.show{
      overflow-y: scroll;
    }

    max-height: calc(100vh - var(--navbar-normal_offsetHeight));

    //隐藏滚动条
    scrollbar-width: none;//Firefox
    -ms-overflow-style: none;//IE
  }
  #navbarCollapseContent::-webkit-scrollbar {
    display: none; //Chrome隐藏滚动条
  }
}

.nav-btn{
  border-radius: 16px;
  transition: .5s;
  padding: .2em;
}
.nav-btn:hover{
  background-color: var(--nav-item_background-color);
}

.navbar-brand{
  .svg-logo{
    //实现改变svg颜色
    filter: drop-shadow(150vw 0 var(--logo-color));
    transform: translateX(-150vw);
  }
}