.nav-btn{
  border-radius: 16px;
  transition: .5s;
  padding: .2em;
}
.nav-btn:hover{
  background-color: var(--nav-item_background-color);
}

.d-flex{
  .flex-ai-c{
    align-items: center;
  }
}

.navbar-brand{
  .svg-logo{
    //实现改变svg颜色
    filter: drop-shadow(150vw 0 #ffffff);
    transform: translateX(-150vw);
  }
}