body{
  overflow-x: hidden;
}

.effect-div{
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  &.effect-div_imgFalling{
    z-index: 1;
    position: absolute;
  }

  &.effect-div_moreLineEffect{
    z-index: 50;
    position: fixed;
    pointer-events: none;
  }
}

#effectCheckBoxDiv{
  position: relative;
  z-index: 3;
  left: 0;
  margin-left: 6px;
  margin-top: 4px;
}

//#region home
//#region lang-select
@keyframes lang-select_img-anim {
  to{
    transform: rotate(360deg);
  }
}
#lang-select{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3rem;
  width: 3rem;
  z-index: 3;
}
#lang-select .lang-select_sub{
  position: absolute;
  display: none;
  background: var(--color15);
  border-radius: 15px;
  bottom: 5%;
  right: 5%;
  padding: 10% 16%;
  width: max-content;
}
@mixin lang-select_sub_show{
  display:unset;
}
@mixin lang-select_img_anim{
  animation: lang-select_img-anim 1s;
}
#lang-select .lang-select_sub:hover{
  @include lang-select_sub_show;
}
#lang-select .lang-select_sub:hover ~ img {
  @include lang-select_img_anim;
}
#lang-select img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: fill;
  clip-path: ellipse(42.55% 43.08% at 50.00% 50.53%);
}
#lang-select img:hover{
  @include lang-select_img_anim;
}
#lang-select img:hover + .lang-select_sub{
  @include lang-select_sub_show;
}
#lang-select:has(img:hover, .lang-select_sub:hover) {
  img {
    @include lang-select_img_anim;
  }
  .lang-select_sub {
    @include lang-select_sub_show;
  }
}
//#endregion
//#endregion